.weui-toast__content
{
  color:white !important;
}
.cui-header .cui-iconfont
{
  color:#444444;
}
.cui-header .cui-header-title
{
  color:#464646;
}
.cui-header
{
  padding-top:20px;
}
.cui-content
{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  overflow:hidden;
}
/*选择时间*/
.vux-datetime-confirm
{
  color:#61d8ff !important;
}
